body {
    background-color: rgb(80, 65, 59); 
    background-image: url('img/Firewood.png');
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /*viewPORT?*/
    /*  high of the browser */
 
  background-repeat: repeat; /* Evita que la imagen se repita */
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 300px; /* Define una altura fija o usa una altura basada en viewport (e.g., 50vh) */


    margin: 0;
    padding: 0;
    height: 100%; /* Asegúrate de que ocupen el 100% del viewport */
    width: 100%;  /* Asegúrate de que ocupen el 100% del viewport */
    overflow: hidden; /* Evita cualquier scroll */
}

img {
   /* Asegura que la imagen no exceda el ancho de su contenedor */
  height: auto;    /* Mantiene la proporción de la imagen automáticamente */
}
.body2{
     background-color: rgb(163, 153, 168); 
     width: 70%; 
  height: 350px;
  align-self: center;
  position: absolute;
  /* align-items: center;
  justify-content: center;
   display: flex;
    flex-direction: column; */
  opacity: 80%;
}

.grid {
    height: 150px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5) inset, 0 1px 0 #000000;
    display: flex;
    flex-wrap: wrap; 
    /* background: url('images/u4DVsx6.png') */
    background-size: cover;
    position: relative; 
    padding: 0;
}
.piso{
    height: 50px;
    width: 50px;

    background-color: rgb(34, 96, 42);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tamaño */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cielo{
    height: 50px;
    width: 50px;

    background-color: rgb(125, 195, 231);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tamaño */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jugador-derecha{
   
    height: 100px;
    width: 50px;
   background-image: url(img/chainsaw2.png);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tamaño */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 10;
    border-radius: 0%;
    /* border-color: #000000;
    border-width: 0.5 ; */
    /* border: 2px solid #fff; */
}

.jugador-izquierda{
    height: 100px;
    width: 50px;
   background-image: url(img/chainsaw.png);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tamaño */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 10;
    border-radius: 0%;
    /* border-color: #000000;
    border-width: 0.5 ; */
    /* border: 2px solid #fff; */
} 

.paragraph{
    bottom: 0px;
    opacity: 100%;
    z-index: 10;
}
.arbol{
  height: 200px;
    width: 50px;
z-index: 10;
left: 100px;
bottom: -50apx;
    background-color: #8b5336;
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tamaño */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.divarbol{
     height: 100px;
    width: 250px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.5) inset, 0 1px 0 #000000; */
    display: flex;
    flex-wrap: wrap; 
    /* background: url('images/u4DVsx6.png') */
    background-size: cover;
    position: absolute; 
    padding: 0;
}

.contador{
    align-self: center;
    height: 20px;
    width: 20px;
z-index: 10;
}
.palito_izq{
    position: absolute;
    background-color: #8b5336;
    left: 50px;
    z-index: 10;
    height: 10px;
    width: 50px;
}

.palito_der{
    position: absolute;
    background-color: #8b5336;
    left: 150px;
    z-index: 10;
    height: 10px;
    width: 50px;
}
.papu{
    z-index: 10;
}