body {
    background-color: rgb(163, 153, 168);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /*viewhope?*/
    /*  high of the browser */
}

.grid {
    height: 150px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5) inset, 0 1px 0 #000000;
    display: flex;
    flex-wrap: wrap; 
    /* background: url('images/u4DVsx6.png') */
    background-size: cover;
    position: relative; 
    padding: 0;
}
.piso{
    height: 50px;
    width: 50px;

    background-color: rgb(34, 96, 42);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tama単o */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cielo{
    height: 50px;
    width: 50px;

    background-color: rgb(125, 195, 231);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tama単o */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jugador-derecha{

    height: 100px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tama単o */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 10;
    border-radius: 0%;
    /* border-color: #000000;
    border-width: 0.5 ; */
    /* border: 2px solid #fff; */
}

/* .jugador-derecha, .jugador-izquierda{
    position: absolute;
    width: 50;
    height: 50;
    z-index: 10;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.paragraph{
    bottom: 0px;
    
}
.arbol{
  height: 200px;
    width: 50px;
z-index: 10;
left: 100px;
bottom: -50apx;
    background-color: #8b5336;
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Importante para que el borde no sume al tama単o */
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.divarbol{
     height: 100px;
    width: 250px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.5) inset, 0 1px 0 #000000; */
    display: flex;
    flex-wrap: wrap; 
    /* background: url('images/u4DVsx6.png') */
    background-size: cover;
    position: absolute; 
    padding: 0;
}

.palito_izq{
    position: absolute;
    background-color: #8b5336;
    left: 50px;
    z-index: 10;
    height: 10px;
    width: 50px;
}

.palito_der{
    position: absolute;
    background-color: #8b5336;
    left: 150px;
    z-index: 10;
    height: 10px;
    width: 50px;
}